@import url('https://fonts.googleapis.com/css?family=Chango');

/* Colour palette */
:root {
  --red: #ee6352;
  --green: #489f7f;
  --pale-yellow: #fdefd8;
  --grey: #545454;
}

.App {
  text-align: center;
  background-color: #fdefd8;
  height: 100vh;
  width: 100vw;
  position: absolute; 
  top: 0; 
  left: 0; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.appLogo {
  height: 5vmin;
  padding: 0px 20px 0px 20px;
}

.header {
  background-color: #ee6352;
  width: 100%;
  height: 7%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0px 0px 0px 20px;
}


#contentBox {
  width: 100%;
  height: 58%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:  space-between;
}

#mainBody {
  width: 80%;
  height:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#buttonsContainer {
  width: 80vw;
  max-width: 800px;
  height: 3vw;
  max-height: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
}

.topButtonContainer {
  height: 130%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.imageButtton {
  height: 5vmin;
  padding: 0px 20px 0px 20px;
}

.topButton {
  background-color: #545454;
  width: 10vw;
  max-width: 100px;
  height: 1vw;
  max-height: 20px;
  border-radius: 10px 10px 0px 0px;
  box-shadow: inset 3px 3px 3px rgba(255,255,255,.7), inset -2px -2px 3px rgba(0,0,0,.1), 2px 2px 10px rgba(0,0,0,.1);
}

#redCarcass {
  background-color: #ee6352;
  width: 80vw;
  max-width: 800px;
  height: 15vw;
  max-height: 275px;
  border-radius: 25px;
  box-shadow: inset 3px 3px 3px rgba(255,255,255,.7), inset -2px -2px 3px rgba(0,0,0,.1), 2px 2px 10px rgba(0,0,0,.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#paleInside {
  background-color: #FBDFB1;
  width: 90%;
  height: 80%;
  border-radius: 25px;
  box-shadow: inset 2px 2px 4px rgba(120, 120, 120, .4), inset -3px -3px 3px rgba(255,255,255,.4);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.display {
  background-color: #545454;
  width: 30%;
  height: 80%;
  border-radius: 15px;
  box-shadow: inset 2px 2px 4px rgba(120, 120, 120, .4), inset -3px -3px 3px rgba(255,255,255,.4);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.display p {
  font-family: "Chango", sans-serif;
  font-size: 5em;
  color: #fdefd8;
}

#type {
  width: 20%;
  height: 40%;
}

#type p {
  font-size: 2em;
}

#redBase {
  background-color: #ee6352;
  width: 60vw;
  max-width: 600px;
  height: 2vw;
  max-height: 25px;
  border-radius: 5px 5px 10px 10px;
  box-shadow: inset -2px -2px 3px rgba(0,0,0,.1), 2px 2px 10px rgba(0,0,0,.1);
}

#sideControl {
  width: 60vw;
  max-width: 600px;
  height: 30%;
  max-height: 100px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.sideControlCol {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#labels span {
  color: #ee6352;
  font-family: "Chango", sans-serif;
  font-size: 1em;
  padding: 0px 10px 0px 0px;
}

.upDownButtonsContainers{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.arrowButtton {
  height: 2vmin;
  padding: 0px 20px 0px 20px;
}


.footer {
  padding: 0px 0px 0px 20px;
  width: 100%;
  height: 5%;
  background-color: #ee6352;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: #fdefd8;  
}

.footer a {
  color: #A9BBBFff;
  text-decoration: none;
}

.footer a:hover {
  font-weight: bold;
}

